<form method="POST" action="/add">
    <input type="text" name="title" placeholder="Escriba un título" />
    <textarea name="description" placeholder="Escriba una descrpición"></textarea>
    
    <input type="submit" value="Añadir" />
</form>