<form method="POST" action="/update/<%=product.id%>">
    <input type="text" name="title" value="<%=product.title%>" />
    <textarea name="description"><%=product.description%></textarea>
    
    <input type="submit" value="Acutalizar" />
</form>